
code/.metadata/.mylyn/.repositories.xml.zip
code/.metadata/.mylyn/repositories.xml.zip
code/.metadata/.plugins/org.eclipse.core.resources/.root/.markers.snap
code/.metadata/.plugins/org.eclipse.core.resources/.root/1.tree
code/.metadata/.plugins/org.eclipse.core.resources/.safetable/org.eclipse.core.resources
code/.metadata/.plugins/org.eclipse.core.resources/1.snap
code/.metadata/.plugins/org.eclipse.core.runtime/.settings/org.eclipse.ui.ide.prefs
code/.metadata/.plugins/org.eclipse.e4.workbench/workbench.xmi
code/.metadata/.plugins/org.eclipse.jdt.core/1090906781.index
code/.metadata/.plugins/org.eclipse.jdt.core/1277335749.index
code/.metadata/.plugins/org.eclipse.jdt.core/131341363.index
code/.metadata/.plugins/org.eclipse.jdt.core/1358067837.index
code/.metadata/.plugins/org.eclipse.jdt.core/143873239.index
code/.metadata/.plugins/org.eclipse.jdt.core/1466100994.index
code/.metadata/.plugins/org.eclipse.jdt.core/1572808772.index
code/.metadata/.plugins/org.eclipse.jdt.core/1624189823.index
code/.metadata/.plugins/org.eclipse.jdt.core/1709896613.index
code/.metadata/.plugins/org.eclipse.jdt.core/1710981913.index
code/.metadata/.plugins/org.eclipse.jdt.core/1764047651.index
code/.metadata/.plugins/org.eclipse.jdt.core/185114554.index
code/.metadata/.plugins/org.eclipse.jdt.core/1939165050.index
code/.metadata/.plugins/org.eclipse.jdt.core/1954944859.index
code/.metadata/.plugins/org.eclipse.jdt.core/1979624140.index
code/.metadata/.plugins/org.eclipse.jdt.core/2000440417.index
code/.metadata/.plugins/org.eclipse.jdt.core/2005337083.index
code/.metadata/.plugins/org.eclipse.jdt.core/2035338920.index
code/.metadata/.plugins/org.eclipse.jdt.core/211120551.index
code/.metadata/.plugins/org.eclipse.jdt.core/2147413155.index
code/.metadata/.plugins/org.eclipse.jdt.core/2151140073.index
code/.metadata/.plugins/org.eclipse.jdt.core/227141885.index
code/.metadata/.plugins/org.eclipse.jdt.core/2274009878.index
code/.metadata/.plugins/org.eclipse.jdt.core/2331242648.index
code/.metadata/.plugins/org.eclipse.jdt.core/2339840751.index
code/.metadata/.plugins/org.eclipse.jdt.core/2425799386.index
code/.metadata/.plugins/org.eclipse.jdt.core/2448326477.index
code/.metadata/.plugins/org.eclipse.jdt.core/2448329723.index
code/.metadata/.plugins/org.eclipse.jdt.core/2454987895.index
code/.metadata/.plugins/org.eclipse.jdt.core/2507045829.index
code/.metadata/.plugins/org.eclipse.jdt.core/2518569226.index
code/.metadata/.plugins/org.eclipse.jdt.core/2566012945.index
code/.metadata/.plugins/org.eclipse.jdt.core/2570185957.index
code/.metadata/.plugins/org.eclipse.jdt.core/2688637464.index
code/.metadata/.plugins/org.eclipse.jdt.core/2727832796.index
code/.metadata/.plugins/org.eclipse.jdt.core/274650300.index
code/.metadata/.plugins/org.eclipse.jdt.core/2822558533.index
code/.metadata/.plugins/org.eclipse.jdt.core/2925977232.index
code/.metadata/.plugins/org.eclipse.jdt.core/2977504366.index
code/.metadata/.plugins/org.eclipse.jdt.core/2989794524.index
code/.metadata/.plugins/org.eclipse.jdt.core/30025376.index
code/.metadata/.plugins/org.eclipse.jdt.core/3017952843.index
code/.metadata/.plugins/org.eclipse.jdt.core/3102018374.index
code/.metadata/.plugins/org.eclipse.jdt.core/3142249106.index
code/.metadata/.plugins/org.eclipse.jdt.core/3175759871.index
code/.metadata/.plugins/org.eclipse.jdt.core/33776078.index
code/.metadata/.plugins/org.eclipse.jdt.core/33956886.index
code/.metadata/.plugins/org.eclipse.jdt.core/3460519095.index
code/.metadata/.plugins/org.eclipse.jdt.core/3502802160.index
code/.metadata/.plugins/org.eclipse.jdt.core/3598890686.index
code/.metadata/.plugins/org.eclipse.jdt.core/3616128486.index
code/.metadata/.plugins/org.eclipse.jdt.core/3642359471.index
code/.metadata/.plugins/org.eclipse.jdt.core/3736636567.index
code/.metadata/.plugins/org.eclipse.jdt.core/3768513311.index
code/.metadata/.plugins/org.eclipse.jdt.core/3952586058.index
code/.metadata/.plugins/org.eclipse.jdt.core/4114765861.index
code/.metadata/.plugins/org.eclipse.jdt.core/4234346817.index
code/.metadata/.plugins/org.eclipse.jdt.core/4285703217.index
code/.metadata/.plugins/org.eclipse.jdt.core/445722707.index
code/.metadata/.plugins/org.eclipse.jdt.core/528624953.index
code/.metadata/.plugins/org.eclipse.jdt.core/554630075.index
code/.metadata/.plugins/org.eclipse.jdt.core/558792679.index
code/.metadata/.plugins/org.eclipse.jdt.core/618072639.index
code/.metadata/.plugins/org.eclipse.jdt.core/624997991.index
code/.metadata/.plugins/org.eclipse.jdt.core/635491190.index
code/.metadata/.plugins/org.eclipse.jdt.core/684272286.index
code/.metadata/.plugins/org.eclipse.jdt.core/803093678.index
code/.metadata/.plugins/org.eclipse.jdt.core/893590390.index
code/.metadata/.plugins/org.eclipse.jdt.core/externalFilesCache
code/.metadata/.plugins/org.eclipse.jdt.core/variablesAndContainers.dat
